:root {
    --x-41-3c-3b: rgba(65, 60, 59, 1);
    --x-898989: rgba(137, 137, 137, 1);
    --x-141414: rgba(20, 20, 20, 1);
    --fe-8400: rgba(254, 132, 0, 1);
    --gray-500: rgba(107, 114, 128, 1);
  }
  