:root {
  --x-41-3c-3b: rgba(65, 60, 59, 1);
  --x-898989: rgba(137, 137, 137, 1);
  --x-141414: rgba(20, 20, 20, 1);
  --fe-8400: rgba(254, 132, 0, 1);
  --secondary-300: rgba(144, 163, 191, 1);
  --secondary-400: rgba(89, 103, 128, 1);
  --secondary-500: rgba(26, 32, 44, 1);
  --primary-0: rgba(255, 255, 255, 1);
  --defaultblack: rgba(0, 0, 0, 1);
  --primary-500: rgba(254, 132, 0, 1);
  --semibold-type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-12-font-weight: 600;
  --semibold-type-12-font-size: 12px;
  --semibold-type-12-letter-spacing: -0.24px;
  --semibold-type-12-line-height: normal;
  --semibold-type-12-font-style: normal;
  --semibold-type-20-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-20-font-weight: 600;
  --semibold-type-20-font-size: 20px;
  --semibold-type-20-letter-spacing: -0.4px;
  --semibold-type-20-line-height: 150%;
  --semibold-type-20-font-style: normal;
  --semibold-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-16-font-weight: 600;
  --semibold-type-16-font-size: 16px;
  --semibold-type-16-letter-spacing: -0.32px;
  --semibold-type-16-line-height: 150%;
  --semibold-type-16-font-style: normal;
  --bold-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-16-font-weight: 700;
  --bold-type-16-font-size: 16px;
  --bold-type-16-letter-spacing: -0.32px;
  --bold-type-16-line-height: 150%;
  --bold-type-16-font-style: normal;
  --medium-type-12-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-12-font-weight: 500;
  --medium-type-12-font-size: 12px;
  --medium-type-12-letter-spacing: -0.24px;
  --medium-type-12-line-height: normal;
  --medium-type-12-font-style: normal;
  --bold-type-20-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-20-font-weight: 700;
  --bold-type-20-font-size: 20px;
  --bold-type-20-letter-spacing: -0.6px;
  --bold-type-20-line-height: 150%;
  --bold-type-20-font-style: normal;
  --bold-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-14-font-weight: 700;
  --bold-type-14-font-size: 14px;
  --bold-type-14-letter-spacing: -0.28px;
  --bold-type-14-line-height: 150%;
  --bold-type-14-font-style: normal;
}
