@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:var(--semibold-type-20-font-weight),var(--semibold-type-12-font-weight),var(--bold-type-20-font-weight),var(--medium-type-12-font-weight),var(--bold-type-16-font-weight),var(--bold-type-14-font-weight),700,var(--semibold-type-16-font-weight)|Poppins:400,600|Montserrat:700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

